/* Lower */

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: 0;
  color: #FFF;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.4s;
}

.lower-off {
  visibility: hidden;
  opacity: 0;
}

.lower .lower-el {
  width: 4rem;
  margin: 0 4rem;
  opacity: 0.5;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.4s;
}

.lower .lower-el:hover {
  opacity: 1;
}

.lower .story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 40%;
  font-family: "robotoItalic", "Arial", sans-serif;
}

.story .story-text-inner {
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.4s;
  opacity: 1;
}

.text-transition {
  opacity: 0;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  width: 33%;
  height: 1.5rem;
  font-family: "robotoThin", "Arial", sans-serif;
}

.story-input {
  width: 10rem;
  height: 100%;
  background-color: rgba(15, 15, 15, 1);
  border: 0 solid transparent;
  outline: none;
  color: #fff;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.4s;
}

.story-submit {
  margin-left: 1rem;
  width: 4rem;
  height: 100%;
  background-color: rgba(15, 15, 15, 1);
  border: 0 solid transparent;
  outline: none;
  color: #fff;
}

.input-off {
  display: none;
}

.continue {
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.4s;
}