@font-face {
  font-family: robotoBold;
  src: url(../src/medias/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotoItalic;
  src: url(../src/medias/fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: robotoThin;
  src: url(../src/medias/fonts/Roboto-Thin.ttf);
}